<div class="container">
  <p-card class="login-card" header="Welcome to Smartfood!" subheader="Admin page"
    [style]="{ display: 'flex', justifyContent: 'space-around', alignItems: 'center', borderRadius: '25px', height: '50vh', width: '1000px' }">
    <ng-template pTemplate="header" class="p-card-header">
      <img alt="Card" src="https://primefaces.org/cdn/primeng/images/usercard.png" />
    </ng-template>

    <ng-template pTemplate="content" class="p-card-content">
      <div class="login-content">
        <div class="username">
          <span class="p-float-label">
            <input pInputText id="username" [style]="{ borderRadius: '12px', width: '300px' }" />
            <label htmlFor="username">Username</label>
          </span>
        </div>
        <div class="password">
          <div class="card flex justify-content-center">
            <span class="p-float-label">
              <p-password [toggleMask]="true" [inputStyle]="{ borderRadius: '12px', width: '300px' }"></p-password>
              <label for="password">Password</label>
            </span>
          </div>
        </div>
      </div>
    </ng-template>


    <ng-template pTemplate="footer" class="p-card-footer">
      <p-button label="Login" [style]="{ borderRadius: '12px', width: '300px', fontSize: '14px' }"></p-button>
    </ng-template>
  </p-card>
</div>
