.container {
  background: linear-gradient(to bottom left, #eaebef, #eef2f5);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .p-card-header {
    width: 100%;
    height: 100%;

    img {
      background-size: cover;
      background-position: center;
      height: 100%;
      border-radius: 25px 0 0 25px;
    }
  }

  .p-card-body {
    margin: 0 50px;
  }

  .p-card-footer {
    text-align: center;
  }

  .login-card {
    .p-float-label {
      label {
        font-size: 14px;
      }
    }
    .password {
      margin-top: 15px;
    }
  }
}
