<div class="grid">
  <div class="col-12">
    <div class="card px-6 py-6">
      <p-toast></p-toast>
      <p-toolbar styleClass="mb-4">
        <ng-template pTemplate="left">
          <div class="my-2">
            <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success mr-2"
              (click)="openNew()"></button>
            <button pButton pRipple label="Delete" icon="pi pi-trash" class="p-button-danger"
              (click)="deleteSelectedRecipes()" [disabled]="!selectedRecipes || !selectedRecipes.length"></button>
          </div>
        </ng-template>

        <ng-template pTemplate="right">
          <p-fileUpload mode="basic" accept="image/*" [maxFileSize]="1000000" label="Import" chooseLabel="Import"
            class="mr-2 inline-block"></p-fileUpload>
          <button pButton pRipple label="Export" icon="pi pi-upload" class="p-button-help"
            (click)="dt.exportCSV()"></button>
        </ng-template>
      </p-toolbar>

      <p-table #dt [value]="recipes" [columns]="cols" responsiveLayout="scroll" [rows]="itemsPerPage"
        [(selection)]="selectedRecipes" selectionMode="multiple" [rowHover]="true" dataKey="id" [lazy]="true"
        (onLazyLoad)="handleLazyLoad($event)">
        <ng-template pTemplate="caption">
          <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
            <h5 class="m-0">Manage Recipes</h5>
            <span class="block mt-2 md:mt-0 p-input-icon-left">
              <i class="pi pi-search"></i>
              <input pInputText type="text"
                (input)="handleSearchInput($event); dt.filterGlobal({ searchInput, page: 0 }, 'contains')"
                placeholder="Search..." class="w-full sm:w-auto" />
            </span>
          </div>
        </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th style="width: 3rem">
              <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
            </th>
            <th pSortableColumn="id">Id <p-sortIcon field="id"></p-sortIcon></th>
            <th pSortableColumn="name">Name <p-sortIcon field="name"></p-sortIcon></th>
            <th>Image</th>
            <th pSortableColumn="rating">Rating <p-sortIcon field="rating"></p-sortIcon></th>
            <th pSortableColumn="level.name">Level <p-sortIcon field="level"></p-sortIcon></th>
            <th pSortableColumn="category.name">Category <p-sortIcon field="category"></p-sortIcon></th>
            <th pSortableColumn="cuisine.name">Cuisine <p-sortIcon field="cuisine"></p-sortIcon></th>
            <th></th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-recipe>
          <tr>
            <td>
              <p-tableCheckbox [value]="recipe"></p-tableCheckbox>
            </td>
            <td style="width:14%; min-width:10rem;"><span class="p-column-title">Id</span>
              {{ recipe.id }}
            </td>
            <td style="width:14%; min-width:10rem;">
              <span class="p-column-title">Name</span>
              {{ recipe.name }}
            </td>
            <td style="width:14%; min-width:10rem;"><span class="p-column-title">Image</span>
              <img [src]="recipe.media.length > 0 && recipe.media[0].url" [alt]="recipe.name" width="100"
                class="shadow-4" />
            </td>
            <td style="width:12%; min-width:8rem;">
              <p-rating [ngModel]="recipe.rating" [readonly]="true" [cancel]="false"></p-rating>
            </td>
            <td style="width:12%; min-width:8rem;">
              <span class="p-column-title">Level</span>
              {{ recipe.level.name }}
            </td>
            <td style="width:12%; min-width:8rem;">
              <span class="p-column-title">Category</span>
              {{ recipe.category.name }}
            </td>
            <td style="width:12%; min-width:8rem;">
              <span class="p-column-title">Cuisine</span>
              {{ recipe.cuisine.name }}
            </td>
            <td style="width:10%; min-width:10rem;">
              <div class="flex">
                <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-secondary mr-2"
                  tooltipPosition="top" pTooltip="Edit" (click)="editRecipe(recipe)"></button>
                <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-danger"
                  tooltipPosition="top" pTooltip="Delete" (click)="deleteRecipe(recipe)"></button>
              </div>
            </td>
          </tr>
        </ng-template>
      </p-table>
      <p-paginator (onPageChange)="dt.filterGlobal({ searchInput, page: $event.first }, 'contains')"
        [first]="currentRecords" [rows]="itemsPerPage" [totalRecords]="totalItems"></p-paginator>
    </div>

    <p-dialog [(visible)]="recipeDialog" [style]="{width: '1000px'}" header="Recipe Detail" [modal]="true"
      class="p-fluid" (onHide)="hideDialog()">
      <ng-template pTemplate="content">
        <div class="card">
          <p-steps [model]="steps" [readonly]="false" [activeIndex]="activeIndexStep"
            (activeIndexChange)="handleActiveIndexStepChange($event)"></p-steps>
        </div>

        <div *ngIf="activeIndexStep === 0" class="card">
          <div class="field">
            <label for="name">Name</label>
            <input type="text" pInputText id="name" [(ngModel)]="recipe.name" required autofocus
              [ngClass]="{'ng-invalid ng-dirty' : submitted && !recipe.name}" />
            <small class="p-error ng-dirty ng-invalid" *ngIf="submitted && !recipe.name">Name is required.</small>
          </div>
          <div class="field">
            <label for="description">Description</label>
            <textarea id="description" pInputTextarea [(ngModel)]="recipe.description" required rows="3"
              cols="20"></textarea>
          </div>
          <div class="field">
            <label for="level">Level</label>
            <p-dropdown [options]="levels" [(ngModel)]="recipe.level" optionLabel="name" [filter]="true" filterBy="name"
              placeholder="Select a Level" appendTo="body"
              [ngClass]="{'ng-invalid ng-dirty' : submitted && recipe.level.name === ''}">
              <ng-template pTemplate="selectedItem">
                <div class="flex align-items-center gap-2" *ngIf="recipe.level">{{ recipe.level.name }}</div>
              </ng-template>
              <ng-template let-level pTemplate="item">
                <div class="flex align-items-center gap-2">{{ level.name }}</div>
              </ng-template>
            </p-dropdown>
            <small class="p-error ng-dirty ng-invalid" *ngIf="submitted && recipe.level.name === ''">Level is
              required.</small>
          </div>
          <div class="field">
            <label for="category">Category</label>
            <p-dropdown [options]="categories" [(ngModel)]="recipe.category" optionLabel="name" [filter]="true"
              filterBy="name" placeholder="Select a Category" appendTo="body"
              [ngClass]="{'ng-invalid ng-dirty' : submitted && recipe.category.name === ''}">
              <ng-template pTemplate="selectedItem">
                <div class="flex align-items-center gap-2" *ngIf="recipe.category">{{ recipe.category.name }}</div>
              </ng-template>
              <ng-template let-category pTemplate="item">
                <div class="flex align-items-center gap-2">{{ category.name }}</div>
              </ng-template>
            </p-dropdown>
            <small class="p-error ng-dirty ng-invalid" *ngIf="submitted && recipe.category.name === ''">Category is
              required.</small>
          </div>
          <div class="field">
            <label for="Cuisine">Cuisine</label>
            <p-dropdown [options]="cuisineArray" [(ngModel)]="recipe.cuisine" optionLabel="name" [filter]="true"
              filterBy="name" placeholder="Select a Cuisine" appendTo="body"
              [ngClass]="{'ng-invalid ng-dirty' : submitted && recipe.cuisine.name === ''}">
              <ng-template pTemplate="selectedItem">
                <div class="flex align-items-center gap-2" *ngIf="recipe.cuisine">{{ recipe.cuisine.name }}</div>
              </ng-template>
              <ng-template let-cuisine pTemplate="item">
                <div class="flex align-items-center gap-2">{{ cuisine.name }}</div>
              </ng-template>
            </p-dropdown>
            <small class="p-error ng-dirty ng-invalid" *ngIf="submitted && recipe.cuisine.name === ''">Cuisine is
              required.</small>
          </div>
        </div>
        <div *ngIf="activeIndexStep === 1" class="card">
          <ng-template ngFor let-item [ngForOf]="recipe.quantification" let-i="index">
            <div class="p-formgrid grid">
              <div class="field col md:col-7">
                <label for="ingredient-name">Ingredient name</label>
                <p-dropdown id="ingredient-name" [options]="ingredients" [(ngModel)]="item.ingredient"
                  optionLabel="name" [filter]="true" filterBy="name" placeholder="Select a Ingredient" appendTo="body"
                  [ngClass]="{'ng-invalid ng-dirty' : submitted && item.ingredient.name === ''}">
                  <ng-template pTemplate="selectedItem">
                    <div class="flex align-items-center gap-2" *ngIf="item.ingredient.name">{{ item.ingredient.name }}
                    </div>
                  </ng-template>
                  <ng-template let-ingredient pTemplate="item">
                    <div class="flex align-items-center gap-2">{{ ingredient.name }}</div>
                  </ng-template>
                </p-dropdown>
                <small class="p-error ng-dirty ng-invalid" *ngIf="submitted && !item.ingredient.name">Ingredient name is
                  required.</small>
                <small class="p-error ng-dirty ng-invalid"
                  *ngIf="item.ingredient.id && isDuplicatedIngredient().includes(item.ingredient.id)">Ingredient is
                  duplicated</small>
              </div>
              <div class="field col md:col-2">
                <label for="ingredient-value">Value</label>
                <p-inputNumber [(ngModel)]="item.value" mode="decimal" inputId="ingredient-value" [useGrouping]="false"
                  [minFractionDigits]="0" [maxFractionDigits]="2"
                  [ngClass]="{'ng-invalid ng-dirty' : submitted && item.value <= 0}">
                </p-inputNumber>
                <small class="p-error ng-dirty ng-invalid" *ngIf="submitted && item.value <= 0">Value is greater than
                  0</small>
              </div>
              <div class="field col md:col-2">
                <label for="ingredient-unit">Unit</label>
                <input type="text" pInputText id="ingredient-unit" [(ngModel)]="item.unit" required autofocus
                  [ngClass]="{'ng-invalid ng-dirty' : submitted && !item.unit}" />
                <small class="p-error ng-dirty ng-invalid" *ngIf="submitted && !item.unit">Unit is required.</small>
              </div>
              <div *ngIf="i !== 0 || recipe.quantification.length !== 1" class="field col md:col-1">
                <button id="ingredient-delete-{{i}}" pButton pRipple icon="pi pi-trash" class="p-button-danger w-9 h-9"
                  [style]="{ marginTop: '23px' }" (click)="handleRemoveIngredientInRecipe(i)"></button>
              </div>
            </div>
          </ng-template>
          <button pButton pRipple label="Add more ingredients" icon="pi pi-plus" class="p-button-outlined"
            (click)="handleAddMoreIngredients()"></button>
        </div>
        <div *ngIf="activeIndexStep === 2" class="card">
          <ng-template ngFor let-item [ngForOf]="recipe.recipeStep" let-i="index">
            <div class="p-formgrid grid">
              <div class="field col md:col-11">
                <label for="step-name">Step {{ i + 1 }}</label>
                <textarea id="description" pInputTextarea [(ngModel)]="item.content" required rows="2" cols="20"
                  [ngClass]="{'ng-invalid ng-dirty' : submitted && !item.content}"></textarea>
                <small class="p-error ng-dirty ng-invalid" *ngIf="submitted && !item.content">Content is
                  required.</small>
              </div>
              <div *ngIf="i !== 0 || recipe.recipeStep.length !== 1" class="field col md:col-1">
                <button id="step-delete-{{i}}" pButton pRipple icon="pi pi-trash" class="p-button-danger w-9 h-9"
                  (click)="handleRemoveStep(i)" [style]="{ marginTop: '23px' }"></button>
              </div>
            </div>
          </ng-template>
          <button pButton pRipple label="Add more steps" icon="pi pi-plus" class="p-button-outlined"
            (click)="handleAddMoreSteps()"></button>
        </div>
      </ng-template>

      <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
        <button pButton pRipple label="Save" icon="pi pi-check" class="p-button" (click)="saveRecipe()"></button>
      </ng-template>
    </p-dialog>

    <p-dialog [(visible)]="deleteRecipeDialog" header="Confirm" [modal]="true" [style]="{width:'450px'}">
      <div class="flex align-items-center justify-content-center">
        <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
        <span *ngIf="recipe">Are you sure you want to delete <b>{{recipe.name}}</b>?</span>
      </div>
      <ng-template pTemplate="footer">
        <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No"
          (click)="deleteRecipeDialog = false"></button>
        <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes" (click)="confirmDelete()"></button>
      </ng-template>
    </p-dialog>

    <p-dialog [(visible)]="deleteRecipesDialog" header="Confirm" [modal]="true" [style]="{width:'450px'}">
      <div class="flex align-items-center justify-content-center">
        <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
        <span>Are you sure you want to delete selected ingredients?</span>
      </div>
      <ng-template pTemplate="footer">
        <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No"
          (click)="deleteRecipesDialog = false"></button>
        <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes"
          (click)="confirmDeleteSelected()"></button>
      </ng-template>
    </p-dialog>
  </div>
</div>
