<div class="grid">
  <div class="col-12">
    <div class="card px-6 py-6">
      <p-toast></p-toast>
      <p-toolbar styleClass="mb-4">
        <ng-template pTemplate="left">
          <div class="my-2">
            <!-- <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success mr-2"
              (click)="openNew()"></button> -->
            <button pButton pRipple label="Deactivate" icon="pi pi-trash" class="p-button-danger"
              [disabled]="!selectedUsers || !selectedUsers.length"></button>
          </div>
        </ng-template>

        <ng-template pTemplate="right">
          <p-fileUpload mode="basic" accept="image/*" [maxFileSize]="1000000" label="Import" chooseLabel="Import"
            class="mr-2 inline-block"></p-fileUpload>
          <button pButton pRipple label="Export" icon="pi pi-upload" class="p-button-help"
            (click)="dt.exportCSV()"></button>
        </ng-template>
      </p-toolbar>

      <p-table #dt [value]="users" [columns]="cols" responsiveLayout="scroll" [rows]="itemsPerPage"
        [(selection)]="selectedUsers" selectionMode="multiple" [rowHover]="true" dataKey="id" [lazy]="true"
        (onLazyLoad)="handleLazyLoad($event)">
        <ng-template pTemplate="caption">
          <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
            <h5 class="m-0">Manage Users</h5>
            <span class="block mt-2 md:mt-0 p-input-icon-left">
              <i class="pi pi-search"></i>
              <input pInputText type="text"
                (input)="handleSearchInput($event); dt.filterGlobal({ searchInput, page: 0 }, 'contains')"
                placeholder="Search..." class="w-full sm:w-auto" />
            </span>
          </div>
        </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th style="width: 3rem">
              <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
            </th>
            <th pSortableColumn="id">Id <p-sortIcon field="id"></p-sortIcon></th>
            <th pSortableColumn="name">Name <p-sortIcon field="name"></p-sortIcon></th>
            <th pSortableColumn="role">Role <p-sortIcon field="role"></p-sortIcon></th>
            <th pSortableColumn="status">Status <p-sortIcon field="status"></p-sortIcon></th>
            <th></th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-user>
          <tr>
            <td>
              <p-tableCheckbox [value]="user" *ngIf="!validateAction(user)"></p-tableCheckbox>
            </td>
            <td style="width:14%; min-width:10rem;"><span class="p-column-title">Id</span>
              {{ user.id }}
            </td>
            <td>
              <span class="p-column-title">Name</span>
              {{ user.firstName }} {{ user.lastName }}
            </td>
            <td>{{ user.role.toUpperCase() }}</td>
            <td style="width:14%; min-width: 10rem;">
              <span [class]="'user-badge status-' + (user.status)">{{ user.status }}</span>
            </td>
            <td style="width:10%; min-width:10rem;">
              <div class="flex" *ngIf="!validateAction(user)">
                <button pButton pRipple icon="pi pi-shield" class="p-button-rounded p-button-third mr-2"
                  tooltipPosition="top" pTooltip="Update role" (click)="updateUserRole(user)"></button>
                <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-secondary mr-2"
                  tooltipPosition="top" pTooltip="Edit" (click)="editUser(user)"></button>
                <button *ngIf="!user.deletedAt" pButton pRipple icon="pi pi-times"
                  class="p-button-rounded p-button-danger" tooltipPosition="top" pTooltip="Deactivate"></button>
                <button *ngIf="user.deletedAt" pButton pRipple icon="pi pi-check"
                  class="p-button-rounded p-button-success" tooltipPosition="top" pTooltip="Activate"></button>
              </div>
            </td>
          </tr>
        </ng-template>
      </p-table>
      <p-paginator (onPageChange)="dt.filterGlobal({ searchInput, page: $event.first }, 'contains')"
        [first]="currentRecords" [rows]="itemsPerPage" [totalRecords]="totalItems"></p-paginator>
    </div>

    <p-dialog [(visible)]="userDialog" [style]="{width: '450px'}" header="User Details" [modal]="true" class="p-fluid">
      <ng-template pTemplate="content">
        <div class="field">
          <label for="first-name">First name</label>
          <input type="text" pInputText id="first-name" [(ngModel)]="user.firstName" required autofocus
            [ngClass]="{'ng-invalid ng-dirty' : submitted && !user.firstName}" />
          <small class="ng-dirty ng-invalid" *ngIf="submitted && !user.firstName">First name is required.</small>
        </div>
        <div class="field">
          <label for="last-name">Last name</label>
          <input type="text" pInputText id="last-name" [(ngModel)]="user.lastName" required autofocus
            [ngClass]="{'ng-invalid ng-dirty' : submitted && !user.lastName}" />
          <small class="ng-dirty ng-invalid" *ngIf="submitted && !user.lastName">Last name is required.</small>
        </div>
        <div class="field">
          <label for="email">Email</label>
          <input type="text" pInputText id="email" [(ngModel)]="user.email" required autofocus disabled="true" />
        </div>
      </ng-template>

      <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
        <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="saveUser()"></button>
      </ng-template>
    </p-dialog>

    <p-dialog [(visible)]="roleDialog" [style]="{width: '450px'}" header="Role Details" [modal]="true" class="p-fluid">
      <ng-template pTemplate="content">
        <div class="field">
          <label for="role">Role</label>
          <p-dropdown [options]="roles" [(ngModel)]="user.role" optionLabel="label" optionValue="value" appendTo="body"
            [ngClass]="{'ng-invalid ng-dirty' : submitted}"></p-dropdown>
          <small class="p-error ng-dirty ng-invalid" *ngIf="submitted && !user.role">Role is
            required.</small>
        </div>
      </ng-template>

      <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
        <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text"
          (click)="handleUpdateRole()"></button>
      </ng-template>
    </p-dialog>

    <p-dialog [(visible)]="deactivateUserDialog" header="Confirm" [modal]="true" [style]="{width:'450px'}">
      <div class="flex align-items-center justify-content-center">
        <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
        <span *ngIf="user">Are you sure you want to deactivate <b>{{user.firstName}} {{user.lastName}}</b>?</span>
      </div>
      <ng-template pTemplate="footer">
        <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No"
          (click)="deactivateUserDialog = false"></button>
        <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes"
          (click)="confirmDeactivate()"></button>
      </ng-template>
    </p-dialog>

    <p-dialog [(visible)]="deleteUsersDialog" header="Confirm" [modal]="true" [style]="{width:'450px'}">
      <div class="flex align-items-center justify-content-center">
        <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
        <span>Are you sure you want to delete selected users?</span>
      </div>
      <ng-template pTemplate="footer">
        <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No"
          (click)="deleteUsersDialog = false"></button>
        <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes"
          (click)="confirmDeleteSelected()"></button>
      </ng-template>
    </p-dialog>
  </div>
</div>
